<!-- Per a iniciar el servidor: ng serve --open -->
<!-- Pagina principal que crida als components -->
<h1>{{title}}</h1>
<!-- Per a afegir un component a la pagina principal, se escriu el valor del seu "selector" -->
<!--<app-heroes></app-heroes>-->
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<!--
  Ya no se mostrará app heroes, porque solo estará disponible cuando el usuario navegue a él
  tal como hemos indicado en app-routiing-module
-->

<!-- AppComponent pot accedir a RouterOutlet perque AppModule importa AppRoutingModule -->
<router-outlet></router-outlet>
<app-messages></app-messages>
