<p>heroes works!</p>
<!-- Se poden utilitzar pipes per a cambiar el format dels datos-->
<!-- Pipes are a good way to format strings, currency amounts, dates, and other display data -->

<!--<h2>{{hero.name | uppercase}} Details</h2>-->
<!--<div><span>id: </span>{{hero.id}}</div>-->
<!--<div><span>name: </span>{{hero.name}}</div>-->

<!-- Un input que permet modificar els datos, ""ngModel" permet modificar datos de forma bidireccional -->
<!-- Uneix el hero.name del input al del hero component. -->
<!--<div>-->
<!--  <label for="name">Hero name: </label>-->
<!--  <input id="name" [(ngModel)]="hero.name" placeholder="name">-->
<!--</div>-->
<!--  -->
<h2>My Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>

<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>

